.grid {
    height: 100%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(8, 1fr);
    grid-gap: .5em;

    &__cell {
        background-color: var(--light-gray, #eee);

        &--1 {
            grid-column: span 5;
        }

        &--3,
        &--8 {
            grid-column: span 2;
        }

        &--5,
        &--14 {
            grid-column: span 3;
        }

        &--9,
        &--14 {
            grid-row: span 2;
        }
    }
}
