body {
    background-color: var(--less-then-white, #fefefe);
    font: 100% / 1.5 system-ui;
    color: var(--less-then-black, #333);
}

button {
    border: none;
    cursor: pointer;
    font: inherit;
}
