doctype html
html(lang="en")
    head
        title= pageTitle
        link(href='/css/main.css', rel='stylesheet')
        script(type='text/javascript').
            if (foo) bar(1 + 5)

    body
        include components/header
        h1 Pug - node template engine
        #container.grid
            div(class='grid__item') 1
            div(class='grid__item') 2
            div(class='grid__item span-3') 3
            div(class='grid__item') 4
            div(class='grid__item span-2') 5
            div(class='grid__item') 6
            div(class='grid__item') 7
            div(class='grid__item') 8
            div(class='grid__item') 9
            div(class='grid__item span-2') 7
            div(class='grid__item') 8
            div(class='grid__item span-2') 9
        a(href="http://google.com") Basic link