doctype html
html(lang="en")
    head
        title= pageTitle
        link(href='/css/main.css', rel='stylesheet')

    body
        include components/header

        h1 Pug - Test

        div
            if youAreUsingPug
                p You are amazing
            else
                p Get on it!
            p.
                Pug is a terse and simple templating language with a
                strong focus on performance and powerful features.

        script.
            if (true) console.log(1 + 5)