doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Newspaper

    body
        include components/header

        h1 Pug - Test

        div
            p You are amazing

            p.
                Pug is a terse and simple templating language with a
                strong focus on performance and powerful features.

        script.
            if (true) console.log(1 + 5)