doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Newspaper

    body
        include components/header

        div(class="container")
            include components/card/card

        script.
            if (true) console.log(1 + 5)